*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-style: italic; */
}
/* navbar hover style */
.nav-link:hover{
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

/* footer text color */
#footer a{
        text-decoration: none;
        color: black;
}

.fs-6,.text-white{
        text-decoration: none;
}

.hr{
    border: 1px solid white;
}

.icon{
    transition: all 3s ease;
    margin: 0.2em;
}

.icon:hover{
    background-color: green;
    border-radius: 50%;
    transform: rotate(360deg);
}

#working-time li{
    list-style: none;
}

#working-time a{
        text-decoration: none;
}

/* About page css style */
#about{
    background-image: url(/image/About_background.jpg);
      background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 300px;
}

#buyers{
    background-image: url(https://www.b4traders.com/assets/buyerbck-acc71324a8aef891fd065c809d843dc9bddb8c0384ae6eb8117ad6359c2a9b5c.png);
      background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 500px;
}

#table td{
    background: none;
    color: white;
    border: none;
}

#table th{
    background: none;
    color: white;
    border: none;
}
